html,body {
    height: 100%;
    scroll-behavior: smooth;
}
header {
    width: 50%;
}
a{ 
    text-decoration: none !important;
}
.card {
    background-color: rgb(255, 212, 82) !important;
}
.vistaHeader {
    height: 100%;
    background: url(./Imagenes/grill-1.jpg) no-repeat center;
    background-size: cover ;
}
.top-nav-collapse {
    background-color: rgba(57, 148, 57) ;
}
#aNav:hover {
    color: white !important;
}
#h1{
    font-family: 'Lato', sans-serif !important;
    font-size: 50px !important;
    font-weight: bold !important;
}
#h2{
    font-family: 'Lato', sans-serif !important;
    font-size: 40px !important;
    font-weight: bold !important;
}
#p {
    font-family: 'Lato', sans-serif !important;
}
#nav {
    background-color: rgb(255, 193, 7) !important;
    border: 1px solid rgba(57, 148, 57, 0.74);
    border-radius: 10px;
}
#btnSlider {
    height: 2px;
    width: 40px;
    margin: 5px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color:lightgrey !important;
}